.cell {
  position: relative;
  margin-bottom: 1rem;
}

.cell-edit-mode,
.cell-render-mode {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  height: auto;
  font-size: 1rem;
  padding: 1rem;
  outline: solid 1px #bbb;
  border-radius: 10px;
  margin: 0 0 1rem 0;
  padding: 2rem 1rem;
}

.cell-edit-mode {
  background-color: #f7f7f7;
  border-color: #444;
  border-radius: 0;
}

.cell-bottom-bar {
  display: flex;
  justify-content: space-evenly;
  color: #94badc;
  align-items: center;
}

.add-delete-cell {
  color: #94badc;
  margin-right: 0.5rem;
}

.add-cell-button,
.delete-cell-button {
  cursor: pointer;
}
