nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}

hr {
  margin-bottom: 5rem;
}

#title {
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline;
  font-style: italic;
  color: #333;
  outline: none;
  line-height: 1rem;
}

.save-reset-buttons button {
  font-size: 1.3rem;
  padding: 0.2rem 1rem;
  margin-left: 0.5rem;
}
