nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}

hr {
  margin-bottom: 5rem;
}

#title {
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline;
  font-style: italic;
  color: #333;
  outline: none;
  line-height: 1rem;
}

.nav-links a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
